.food{
  display: flex;
  justify-content: space-evenly;
  background-color: yellow;
  align-items: center;
  height: 120px;
  border: solid black;
  margin: 20px;
}

.box img{
  width: 100px;
  height: 100px;
  border: solid black;
  object-fit: cover;
}

.dishname{
  border: solid black;
}

.description{
border: solid black;
}

.add{
  justify-content: space-around;
  align-items: center;
  display: flex;
  border: solid black;
  flex-direction: column;
  height: 100px;
}

.button{
  display: flex;
  flex-direction: row;
}

#input{
  width: 50px;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content{
  border: solid black;
  width: 60%;
  height: 100px;
  white-space: normal;

}

.cart{
  margin: 20px;
  display: flex;
  border: solid black;
  height: 50px;
  height: fit-content;
  flex-direction: column;
  background-color: pink;
}

.checkout{
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.name{
display: flex;
flex-direction: column;
white-space: normal;
width: 300px;
border: solid black;
}

.qty{
  display: flex;
  flex-direction: column;
}

.price{
  display: flex;
  flex-direction: column;
}

.outsideCart{
  margin: 20px;
  display: flex;
  border: solid black;
  height: 50px;
  height: fit-content;
  flex-direction: column;

}

.order{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* cursor: url('/docs/blobhead.png'), auto; */
}

/* .yes.btn-primary{
  display: flex;
  border: solid red;
  justify-content: center;
}

.reset{
  display: flex;
  justify-content: center;
} */

.article{
  display: flex;
  align-items: center;
  flex-direction: column;
}
