.nav{
  display:flex;
<<<<<<< HEAD
  justify-content: space-between;
=======
  /* justify-content:space-between; */
>>>>>>> 302d485e14fa526968f9327373036cd0a4570900
  align-items: center;
  background-color: yellow;
  border: solid black;
  position:relative;
  z-index: 1;

  width: 100%;
  Height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.name{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 50px;
 margin-bottom: 0px;
}

a[href] {
  color: red;
  text-decoration: none;
}

.leftNav{
  height: 100px;
  width: 100px;
  border: solid black;
  background-color: navy;
border-radius: 0px 0px 0px 50px;
}

.bi.bi-trash{
  color: red;
  align-items: center;
  justify-content: center;
}

.header{
  margin-left: 10px;
  display: flex;
  justify-content:right;
  flex-direction: column;
}

.extra{
  display: flex;
  /* justify-content: space-between;
  width: 90%; */
  flex-direction: row;
}

.navright{
  display: flex;
  align-items: center;
}
