.cart {
  margin: 20px;
  display: flex;
  /* border: solid black; */
  height: 50px;
  height: fit-content;
  flex-direction: column;
  background-color: yellow;
}

.checkout {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.name {
  display: flex;
  flex-direction: column;
  white-space: normal;
  width: 300px;
  font-family: 'Creepster', cursive;
  font-size: 20px;
}

.qty {
  display: flex;
  flex-direction: column;
  font-family: 'Creepster', cursive;
  font-size: 20px;
}

.price {
  display: flex;
  flex-direction: column;
  font-family: 'Creepster', cursive;
  font-size: 20px;
}

.outsideCart {
  margin: 20px;
  display: flex;
  border: solid black;
  height: 50px;
  height: fit-content;
  flex-direction: column;
  background-color: yellow;
}


.order {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Creepster', cursive;
  font-size: 20px;
}

/* For count down timer */

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#seconds{
 margin-left: 5px;
}

#minutes{
  margin-left: 5px;
}

#hours{
  margin-left: 5px;
}

#days{

}
